name: Deployment

concurrency:
  group: production
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deployment:
    runs-on: self-hosted
    environment: production
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
      
      - name: Python Version
        run: python --version 
      
      - name: check if poetry is installed
        run: pip install poetry

      - name: install dependencies
        run:  |
              poetry shell
              poetry install
              pip -V
      
      - name: Config Prefect
        run: |
             poetry run prefect config set PREFECT_SERVER_API_HOST=192.168.0.2
             poetry run prefect config set PREFECT_API_URL=http://192.168.0.2:4200/api 

      - name: start server
        run: start_prefect_server.bat
        
      - name: start agent
        run: start_prefect_agent.bat